ibapi==9.81.1.post1
jinja2==3.1.4
mysql-connector-python==9.1.0
pandas==2.2.3
pendulum==3.0.0
transformers==4.48.0
yfinance==0.2.51
sqlalchemy==1.4.54
pyautogui==0.9.54
opencv-python==4.11.0.86
tensorflow==2.18.0
keras==3.8.0
scikit-learn==1.6.1
matplotlib==3.10.0
keras-tuner==1.4.7